/* app css stylesheet */
body { 
    padding-top: 65px; 
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


@import url('http://getbootstrap.com/dist/css/bootstrap.css');
 .kbw-item {
    width: 250px;
}
.kbw-item-ctx {
    width: 10px;
    color: white;
    float: right;
}
.kbw-item i {
    float: right;
}
.kbw-user {
    float: right;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
}

.kbw-item-caption a
{
    color: white; 
}


.kbw-item-caption {
    padding: 4px 8px 4px 8px;
    !important;
}

body{
  /*background: url(../img/grey_wash_wall.png)
*/}

.kbw-lane-header{

   border-top: 4px solid;
    text-align: center;
    min-width: 30px;
    display: block;
    background-color: rgba(218, 211, 218, 0.9);
    border-bottom: 2px solid rgba(200, 200, 200, 1);
}

.kbw-lane {
    display: inline-block;
    list-style-type: none;
    height: 100%;
    min-height: 500px;
    min-width: 200px;
    padding: 0px;
    border: 1px solid rgba(200, 200, 200, 1);;
    margin: 0x;
    width: 33%;
    background: rgba(255,255,255,0.4);
    overflow: hidden;
}


div[data-state='Proposed']{
  border-top-color:#5C8AE6;
}


div[data-state='Doing']{
  border-top-color:#FFCC00;
}


div[data-state='Completed']{
  border-top-color:#009900;
}

 input.ng-invalid.ng-dirty {
    border-color: RGBA(255,0,0,0.7);
    background-color: #FFCCCC;

  }

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color:rgba(0,136, 204,0.08);
}

.top-shadow {
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
}

.reveal-animation.ng-enter {
 -webkit-transition: 2s linear all; /* Safari/Chrome */
 transition: 2s linear all; /* All other modern browsers and IE10+ */
  opacity: 0;
 /* The animation preparation code */
 position: absolute;
 left: -1000px;
}

.reveal-animation.ng-leave {
 -webkit-transition: 2s linear all; /* Safari/Chrome */
 transition: 2s linear all; /* All other modern browsers and IE10+ */

 /* The animation preparation code */
 position: absolute;
}

/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.reveal-animation.ng-enter.ng-enter-active {
 /* The animation code itself */
 left: 0px;
 opacity: 1;
}

.reveal-animation.ng-leave.ng-leave-active {
 /* The animation code itself */
 right: 1500px;
}