/* app css stylesheet */
body { 
    padding-top: 65px; 
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


@import url('http://getbootstrap.com/dist/css/bootstrap.css');
 .kbw-item {
    width: 250px;
}
.kbw-item-ctx {
    width: 10px;
    color: white;
    float: right;
}
.kbw-item i {
    float: right;
}
.kbw-user {
    float: right;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
}

.kbw-item-caption a
{
    color: white; 
}


.kbw-item-caption {
    padding: 4px 8px 4px 8px;
    !important;
}

body{
  /*background: url(../img/grey_wash_wall.png)
*/}

.kbw-lane-header{

   border-top: 4px solid;
    text-align: center;
    min-width: 30px;
    background-color: rgba(218, 211, 218, 0.9);
    border-bottom: 2px solid rgba(200, 200, 200, 1);
}

.kbw-lane {
    min-height: 500px;
    background: rgba(255,255,255,0.4);
}


div[data-state='Proposed']{
  border-top-color:#5C8AE6;
}


div[data-state='Doing']{
  border-top-color:#FFCC00;
}


div[data-state='Completed']{
  border-top-color:#009900;
}

 input.ng-invalid.ng-dirty {
    border-color: RGBA(255,0,0,0.7);
    background-color: #FFCCCC;

  }

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color:rgba(0,136, 204,0.08);
}

.top-shadow {
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
}


#inner{
}

.slide{
  top: 65px;
  position: absolute;
  left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.slide.ng-leave        {
  -webkit-animation:slideOutLeft 0.5s both ease-in;
  -moz-animation:slideOutLeft 0.5s both ease-in;
  animation:slideOutLeft 0.5s both ease-in;   
}
.slide.ng-enter    {  
  -webkit-animation:slideInRight 0.5s both ease-in;
  -moz-animation:slideInRight 0.5s both ease-in;
  animation:slideInRight 0.5s both ease-in;    
}
/* slide in from the right */
@keyframes slideInRight {
  from  { transform:translateX(100%); opacity: 0; }
  to    { transform: translateX(0); opacity: 1;}
}
@-moz-keyframes slideInRight {
  from  { -moz-transform:translateX(100%); opacity: 0; }
  to    { -moz-transform: translateX(0); opacity: 1;}
}
@-webkit-keyframes slideInRight {
  from  { -webkit-transform:translateX(100%);  opacity: 0;}
  to    { -webkit-transform: translateX(0); opacity: 1;}
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to    { transform: translateX(-100%); opacity: 0; }
}
@-moz-keyframes slideOutLeft {  
  to    { -moz-transform: translateX(-100%); opacity: 0; }
}
@-webkit-keyframes slideOutLeft {
  to    { -webkit-transform: translateX(-100%); opacity: 0;}
}


/* slide in from the bottom */
@keyframes slideInUp {
  from  { transform:translateY(100%); }
  to    { transform: translateY(0); }
}
@-moz-keyframes slideInUp {
  from  { -moz-transform:translateY(100%); }
  to    { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
  from  { -webkit-transform:translateY(100%); }
  to    { -webkit-transform: translateY(0); }
}

#kanbanLanes{
  display: table;
  width: 100%;
  position: relative;
  top: -15px;
}

.kbw-section{
  display: table-cell;
border: 1px solid gray;
}

.kbw-lane-header button
{
  float: right;
  opacity: 0.3;
}

.fullScreen
{
  margin: 0;
  width: 100%;
  padding: 0;
}

#projectCaption{
  position: relative;
  background-color: rgba(218, 211, 218, 0.9);
  width: 100%;
  top: -15px;
  padding: 5px 0 5px 0;
}

#btnAddItem {
  float: right;
  margin-right: 10px;
}