<H3>Projects</H3>


<table id="projectsTable" ng-table="projectsTableParams" show-filter="true" class="table table-striped">
	<tr ng-repeat="project in $data">
		<td data-title="'Project Name'"  filter="{ 'name': 'text' }" sortable="'name'">{{project.name}}</td>
		<td data-title="'Created by'" sortable="'createdBy'" filter="{ 'createdBy': 'text' }">{{project.owner.name}}</td>
		<td data-title="'Created on'" sortable="'createOn'"  filter="{ 'createdOn': 'text' }">{{project.createdOn | date:shortDate}}</td>

	</tr>
</table>