   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="MasterCtrl">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a style="font-family: 'Lobster', cursive"  class="navbar-brand" href="#">MyKanbanWall</a>
        </div>
        <div class="collapse navbar-collapse" ng-controller="LoginCtrl">
          <ul class="nav navbar-nav">
            <li ng-class="getClass('/intro')"><a href="#">Home</a></li>
            <li ng-class="getClass('/allProjects')"><a href="#/allProjects">Projects</a></li>
          </ul>
          <form class="navbar-form navbar-right" role="search" id="loginform" name="loginform" novalidate 
          ng-show="!isAuthenticated">
          <div class="form-group">
            <input type="text" ng-model="user.username" class="form-control" placeholder="email" ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' ng-required="true">
            <input ng-model="user.password" type="password" class="form-control" placeholder="password" ng-required="true">
          </div>
          <button ng-disabled="loginform.$invalid" class="btn btn-success" ng-click="login()">Login</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="!isAuthenticated" ><a href="#/registerUser">Register</a></li>
          <li ng-show="isAuthenticated"><button class="btn btn-primary" ng-click="logout()">Logout</button></li>
        </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>